.header {
  position: absolute;
  top:0;
  left: 0;
  margin-top: 20px;
  padding-left: 20px;
  height: 30px;
  width: auto;

  display: flex;
  justify-content: center;

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;

    li a {
      text-decoration: none;
      color: blue;
    }
  }
}

body {
  margin-top: 75px;
  padding-left: 20px;
}