<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title + " | Unfied Robotics" || "Unified Robotics" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "animate" %>

  </head>
  <body>
    <%= partial "header" %>
    <div class="animated fadeIn">
      <%= yield %>
    </div>
    <%= partial "footer" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
