<div class="header">
    <span class="title">Unified Robotics</span>
    <ul class="links">
        <li><a href="index.html">Welcome</a></li>
        <li><a href="gettingstarted.html">Getting Started</a></li>
        <li><a href="game.html">Game</a></li>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="downloads.html">Downloads</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>